@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'); /* Pretendard 로드 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 색상 설정 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 전역 글꼴 설정 */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif; /* Pretendard 기본 설정 */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* 모든 텍스트 요소에 상속 */
*, *::before, *::after {
  font-family: inherit; /* body의 폰트 상속 */
}